.placeholder {
	height: 360px;
	width: 480px;
}

.thumb-video {	
}

.play-video {
    left: 160px;
    position: absolute;
    top: 110px;
    display: block;
    cursor:pointer;
}

.player-video {
	float: left;
	position: relative;
}