.placeholder {
	height: 360px;
	width: 480px;
}

.thumb-video {	
}

.play-video {
    left: 160px;
    position: absolute;
    top: 110px;
    display: block;
    cursor:pointer;
}

.player-video {
	float: left;
	position: relative;
}

[data-watermark-bottom-right] {
    bottom: 30px;
    right: 0;
}
[data-watermark] {
    max-width: 200px;
    min-width: 70px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}