.placeholder {
	height: 360px;
	width: 480px;
}

.thumb-video {	
}

.play-video {
    left: 160px;
    position: absolute;
    top: 110px;
    display: block;
    cursor:pointer;
}

.player-video {
	float: left;
	position: relative;
}

[data-watermark-bottom-right] {
    bottom: 30px !important;
    right: 0 !important;
}
[data-watermark] {
    max-width: 200px;
    min-width: 70px;
    position: absolute;
    text-align: center;
    width: 100% !important;
    z-index: 10;
}

#video {
    display: inline-block;
    width: 480px;
    height: 360px;
    padding: 5px;
}