<html>
<title></title>
<head>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.1.8/clappr.min.js"></script-->
	<script src="http://mp4.dev.swingreal.com/javascripts/jquery.min.js"></script>
	<script src="http://mp4.dev.swingreal.com/javascripts/player/clappr.js"></script>
	<script src="http://mp4.dev.swingreal.com/javascripts/video.js"></script>
</head>

<body>

<div id="video-1000"></div>

<script type="text/javascript">
	MontaVideo(	"http://mp4.dev.swingreal.com",
			"video/3000/1000",
			"video-1000",
			"http://www.unitedonline.net/images/untd-video-thumb-1.jpg",
			"460",
			"",
			"");	
</script>

</body>
</html>