<html>
<title></title>
<head>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.1.8/clappr.min.js"></script-->
	<script src="http://mp4.dev.swingreal.com/javascripts/jquery.min.js"></script>
	<script src="http://mp4.dev.swingreal.com/javascripts/player/clappr.js"></script>
	<script src="http://mp4.dev.swingreal.com/javascripts/video.js"></script>
	<link rel="stylesheet" type="text/css" href="http://mp4.dev.swingreal.com/static/stylesheets/video.css">
</head>

<body>


<div id="video-1001"></div>

<script type="text/javascript">
	MontaVideo(	"http://mp4.dev.swingreal.com",
			"video/3000/1000",
			"video-1001",
			"https://www.swingreal.com/videolog/30215/30215AC5BCB53C2E04391A64A99E002DC3ABD11062012162814.jpg",
			"460",
			"30072015111257{1005BE9F-781E-4B97-BD6F-977A61B1E635}",
			"2");
</script>


</body>
</html>