<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.1.8/clappr.min.js"></script-->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/video.js"></script>

	<script src="/javascripts/html5/video-js/video.js"></script>
	<link rel="stylesheet" type="text/css" href="/javascripts/html5/video-js/video-js.css">
	
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/video.css">
	
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>

<body>

<div id="video-1001"></div>

<script type="text/javascript">

MontaVideoHtml5("http://mp4.dev.swingreal.com",
				"videohtml5/41259/4125945F1D0BE26B4474C897026704D1B88E621082015073455.mp4",
				"video-1001",
				"https://www.swingreal.com/videolog/30215/3021517A2CA66E19848349207D3AD80D54FA620112013111418.jpg",
				"480",
				"30072015111257{1005BE9F-781E-4B97-BD6F-977A61B1E635}",
				"2");
</script>


</body>
</html>