<html>
<title></title>
<head>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.1.8/clappr.min.js"></script-->
	<script src="https://mp4.swingreal.com/javascripts/jquery.min.js"></script>
	<script src="https://mp4.swingreal.com/javascripts/player/clappr.min.js"></script>
	<script src="https://mp4.swingreal.com/javascripts/video.js"></script>
	<link rel="stylesheet" type="text/css" href="https://mp4.swingreal.com/static/stylesheets/video.css">

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>

<body>
<div id="video-1001"></div>
<div id="video-1002"></div>

<script type="text/javascript">

MontaVideo(	"http://mp4.dev.swingreal.com",
				"video/30215/3021517A2CA66E19848349207D3AD80D54FA620112013111418.mp4",
				"video-1001",
				"http://www.swingreal.com/videolog/30215/3021517A2CA66E19848349207D3AD80D54FA620112013111418.jpg",
				"480",
				"30072015111257{1005BE9F-781E-4B97-BD6F-977A61B1E635}",
				"2");

</script>

</body>
</html>