<html>
<title></title>
<head>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.1.8/clappr.min.js"></script-->
	<script src="https://mp4.swingreal.com/javascripts/jquery.min.js"></script>
	<script src="https://mp4.swingreal.com/javascripts/player/clappr.min.js"></script>
	<script src="https://mp4.swingreal.com/javascripts/video.js"></script>
</head>

<body>

<div id="video-1000"></div>

<script type="text/javascript">
	MontaVideo(	"https://mp4.swingreal.com",
			"video/23094/2309447C6CC2A8433488DA103744BD434BE1617122011095943",
			"video-1000",
			"http://www.unitedonline.net/images/untd-video-thumb-1.jpg",
			"480",
			"",
			"");
</script>

</body>
</html>