<html>
<title></title>
<head>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.1.8/clappr.min.js"></script-->
	<script src="https://mp4.swingreal.com/javascripts/jquery.min.js"></script>
	<script src="https://mp4.swingreal.com/javascripts/player/clappr.min.js"></script>
	<script src="https://mp4.swingreal.com/javascripts/video.js"></script>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>

<body>

<div id="video-1002"></div>

<script type="text/javascript">

	var player = new Clappr.Player({
		poster: "http://www.unitedonline.net/images/untd-video-thumb-1.jpg",
		source: "https://mp4.swingreal.com/test/23094/2309447C6CC2A8433488DA103744BD434BE1617122011095943.mp4",
		parentId: "#video-1002",
		width: "480",
		autoPlay: true,
		hideMediaControl: true,
		baseUrl: "https://mp4.swingreal.com/javascripts/player/"
	});

</script>

</body>
</html>