<html>
<title></title>
<head>
	<script type="text/javascript" src="http://cdn.clappr.io/latest/clappr.min.js"></script>
	<script type="text/javascript" src="http://mp4.dev.swingreal.com/javascripts/video.js"></script>
</head>

<body>

<div id="video-1000"></div>

<script type="text/javascript">
	MontaVideo(	"http://mp4.dev.swingreal.com",
			"video/3000/1000",
			"video-1000",
			"http://sinbad2.ujaen.es/flintstones/sites/default/files/pictures/video.png",
			"460",
			"",
			"");
</script>

</body>
</html>